body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}


.zentraler-text {
    text-align: center;
}

#tribute-info {
    line-height: 175%;
    font-size: 18px;
    width: 50%;
    text-align: left;
    justify-content: center;
    margin: 30px auto 30px auto;
}

@media (max-width: 1000px) {
    #tribute-info {
        width: 90%;
    }
}

#img-caption{
    font-style: italic;
    padding: 20px 0 20px 0;
}

#title {
    margin-top: 20px;
    padding-top: 10px;
    color: DarkSlateGray;
    border-radius: 10px;
    font-family: "Sawarabi Mincho", 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    padding-top: 10px;
    color: DarkSlateGray;
    font-family: "Sawarabi Mincho", 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
}

#main {
    text-align: center;
    background-color: Azure;
}

#image {
    max-width: 799px;
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1000px){
    #image{
        width: 25%;
    }
}

#img-div {
    width: 99%;
    background-color: white;
    margin: auto;
    text-align: center;
    position: relative;
}

.footer1{
    padding: 20px 0 40px 0;
    font-size: 20px;
    font-weight: bold;
}